body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: whitesmoke;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Estilos de navegación */
nav {
    background-color: #800080;
    color: white;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

nav ul li:hover>a {
    background-color: #800080;
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #800080;
    min-width: 200px;
}

nav ul li:hover>ul {
    display: block;
}

nav ul li ul li {
    display: block;
}

nav ul li ul li a {
    padding: 10px 15px;
    color: white;
}

nav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    background-color: #800080;
    color: white;
    align-items: center;
}

main {
    padding: 20px;
}

.index-main {
    font-family: Arial, sans-serif;
    background-color: #FFC2C1;
}

.container-div-index {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.highlighted{
    text-align: center;
}

.column {
    flex: 1;
    margin: 0 10px;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    float: center;
    width: 50%;
    padding: 10px;
}

.column:nth-child(1) {
    background-color: #f8f8f8;
}

.column h1 {
    text-align: center;
    color: #800080;
    margin-top: 0;
    padding: 20px 0;
}

.column p {
    margin: 20px;
    line-height: 1.5;
}

h1,
h2,
h3 {
    text-align: center;
    color: #800080;
    font-family: 'Cinzel', sans-serif;
}

.p{
    text-align: justify;
    font-size: 20px; 
}

p{
    text-align: center;
}

.img-container {
    margin: 10px;
        /* Ajusta el valor de los márgenes según sea necesario */
}
    
.img-container video {
    display: block;
    width: 100%;
    /* Asegura que el video llene su contenedor */
}

.form-body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
}

.form-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin: 10px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group textarea {
    height: 100px;
}

.form-group input[type="submit"] {
    background-color: #800080;
    color: #fff;
    border: none;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #800080;
}

.member-main {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 50px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px
}

.member {
    width: 200px;
    align-items: center;
    margin: 50px;
}

.member img {
    width: 220px;
    height: 350px;
    border-radius: 40%;
    object-fit: cover;
}

.member h3 {
    font-size: 20px;
    font-weight: bold;
}

.member p {
    font-size: 15px;
}

.figure{
    align-items: center;
    text-align: center;
}

img{
    display: flex;
    justify-content: center;
}

/* Estilos para el contenedor de la imagen y los botones */
.container-image-buttons {
    text-align: center;
    /* Centrar horizontalmente */
    margin-top: 20px;
    /* Ajusta el margen superior según tu diseño */
}

.container-image-buttons img {
    max-width: 100%;
    /* Asegura que la imagen no exceda el ancho del contenedor */
}

/* Estilos para los botones (puedes personalizarlos más si es necesario) */
.boton {
    display: inline-block;
    padding: 10px 20px;
    margin: 30px;
    background-color: #800080;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.boton:hover {
    background-color: #800080;
}

/* Estilos del contenedor */
.content-ref {
    height: 690px;
    padding: 30px;
    text-align: left;
    background-size: cover;
    /* Ajustar la imagen al tamaño de la ventana */
    background-position: left;
    border-radius: 50px;
    /* Centrar la imagen */
    /* O alinea según tus preferencias */
}

.list p{
    text-align: left;
}

li {
    list-style-type: none;
}

.hiper{ 
    color: blue;

}

/* Estilos del texto */
.content p {
    display: inline-block;
    margin-right: 10px;
    /* Espaciado entre el texto y el botón */
}

/* Estilos del botón */
.round-button {
    border: none;
    border-radius: 50%;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    background-color: #800080;
}

a {
    color: #fff;
    text-decoration: none;
}
/* Estilos de pie de página */
footer {
    background-color: #800080;
    color: whitesmoke;
    padding: 20px;
    text-align: center;
    font-size: 30px;
}
